<%= simple_form_for(@review,url: purchase_review_index_path, method: :post) do |f| %>
  <body>
    <div class = "jumborton-bg">
      <div class="row unit-block">
        <div class="span6">
          <div class="thumbnail unit-bg">
            <% if @deal.present? %>
                <%=image_tag(@deal.image, size: :small) %>
              <div class = "row page-content">
                <div class="span3">
                    <span class="text-highlight-small">$<%=@deal.current_amount %>
                    <%=@deal.eatery.eatery_name %></span>
                </div>
                 <div class="span3">
                  <%= @deal.name%> -
                  <%= @deal.description %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.input :deal_id, as: :hidden, input_html: { value: @deal.id } %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.collection_radio_buttons :rating, [[1,1],[2,2],[3,3],[4,4],[5,5]], :first, :last, {class: 'horizontal_radio_container'} %>
      <%= f.input :comment, as: :text, placeholder: "comments", label: false, maxlength: 500 %>
      <%= f.button :submit, "Submit", class: "btn btn-success" %>
    </div>
  </body>
<% end %>