<% if @eateries.present? %>
  <table class="table table-striped">
    <tr>
      <th>Eatery Name</th>
      <th>Eatery Address </th>
      <th>Customer Rating </th>
      <th>Number of deals </th>
      <th>Action </th>
    </tr>
    <% @eateries.each do |eatery| %>
      <tr>
        <td> <%= eatery.eatery_name %></td>
        <td><%= eatery.eatery_address %></td>
        <td><%= eatery.customer_rating %></td>
        <td><%= eatery.deals.count %></td>
        <td><%= link_to("edit", edit_eatery_path(eatery.id))%> </td>
      </tr>
    <% end %>
  </table>
<% end %>