<%= form_for(@deal,url: {controller: "deal", action: "create"}) do |f| %>
   <% if @deal.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(@deals.errors.count, "error") %> prohibited this deal from being saved:</h2>
        <ul>
          <% @deal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
   <% end %>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :recipe_name, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :recipe_name %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :description, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :description %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :current_amount, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :current_amount %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :previous_amount, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :previous_amount %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :expiry, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :expiry %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :coupon_code, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :coupon_code %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :available_coupons, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :available_coupons %>
      </div>
    </div>
    <div class="row ">
        <%= f.submit 'Create Deal',class: "btn btn-success col-md-8" %>
        <%= link_to 'Back', deal_index_path , class: "btn btn-info col-md-8"%>
    </div>
<% end %>
