<!DOCTYPE html>
<html>
<head>
  <title>TodaysFoodDeals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <title>Eat & Drink Deals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body class ="other-color">
  <div class = "container">
    <div class = "span12" >
      <%= render 'layouts/left_top_nav' %>
      <%= render partial: "layouts/flash", locals: { flash: flash } %>
      <%= yield %>
    </div>
  </div>
  <div class="container">
    <div class = "span12" >
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>



